@media screen and (min-width: 600px) and (max-width: 1024px){
    main > section{
        grid-template: 1fr/ 1fr 1fr;
        align-items: start;
    }
    #perfil{
        grid-area: 1 / 1 / -4 / 2;
    }
}