/*GLOBALS DECLARATIONS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}
body{
    width: 100%;
    height: 100vh;
    line-height: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

/*HEADER SITE*/
header{
    background-color: var(--destaque);
    position: fixed;
    width: 100%;
}

header > h1{
    text-align: center;
}

header > a{
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

header > nav#menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav#menu > ul{
    display: flex;
    list-style: none;
    padding-right: 10px;
}

nav#menu ul > li{
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

nav#menu ul > li:hover{
    background-color: var(--destaque-inverso);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
    transition-duration: 0.5s;
}

nav#menu ul li > span:hover{
    color: var(--destaque);
}

/*MAIN - SITE*/
main{
    padding: 40px 0px;
}

main > section{
    display: grid;
    grid-template: 2fr / 1fr;
    grid-auto-rows: auto;
    align-items: center;
    padding: 20px;
    gap: 20px;
    box-sizing: content-box;
}

.card{
    display: flex;
    flex-flow: wrap;
    padding: 20px;
    background-color: var(--fundo-card);
    border-radius: 10px;
}

main section article.card > div{
    flex: 1 0 100%;
    text-align: center;
}

main section article#perfil div >img{
    width: 220px;
    height: 220px;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--destaque);
}

main section article.card > h2{
    flex-basis: 100%;
    padding-bottom: 20px;
    color: var(--destaque);
}

main section article.card >p{
    text-align: justify;
}

.card-list{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}

.card-list li{
    padding: 5px;
}

main section article.card ul li > a{
    color: var(--destaque);
}

main section article.card ul li > a:hover{
    color: var(--destaque-inverso);
    transition-duration: 0.3s;
}

#review iframe{
    min-width: 350px;
    max-width: 600px;
    min-height: 231px;
    flex: 1;
}

#habilidades > div.skills{
    padding-bottom: 30px;
}

#habilidades div.skills > div.description-percent{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#habilidades div.description-percent > span.percent-value{
    color: var(--destaque);
}

#habilidades div.percent-bg{
    height: 10px;
    width: 100%;
    background-color: var(--fundo-principal);
    border-radius: 20px;
}

#habilidades div.percent-fill{
    height: 100%;
    background-color: var(--destaque-inverso);
    border-radius: 20px;
}

#habilidades #fill-html{width: 90%;}
#habilidades #fill-css{width: 80%;}
#habilidades #fill-js{width: 75%;}
#habilidades #fill-php{width: 60%;}
#habilidades #fill-talk{width: 100%;}
#habilidades #fill-workgroup{width: 90%;}
#habilidades #fill-adapt{width: 85%;}
#habilidades #fill-lead{width: 80%;}

.item{
    display: grid;
    margin: 10px 0px;
    background-color: var(--fundo-principal);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.item > span{
    background-color: var(--destaque-inverso);
    grid-row: 1/-1;
    border-radius: 10px 2px 2px 10px;
}

#graduation .course{
    text-align: left;
    grid-template: 1fr 1fr auto / 5px 1fr;
}

#graduation .course:hover{
    grid-template-columns: 20px 1fr;
    --destaque-inverso: var(--destaque);
    cursor: pointer;
}

#graduation .item span{
    background-color: var(--destaque-inverso);
    border-radius: 5px 1px 1px 5px;
    grid-area: 1 / 1 / -1 / 2;
}

#graduation .course p,h3{padding-left: 15px;}
#graduation .course p strong{font-size: 0.9em;}
#graduation .course h3{color: var(--destaque-inverso);}

#projetos .project{
    display: grid;
    grid-template: 1fr auto auto auto / 7px 1fr;   
    margin: 10px 0px;
    background-color: var(--fundo-principal);
    text-align: left;
    transition: 0.5s ease-in-out;
    border-radius: 15px;
}

#projetos .project:hover{
    grid-template-columns: 20px 1fr;
    grid-template-columns: 20px 1fr;   
    --destaque-inverso: var(--destaque);
    cursor: pointer;
}

#projetos .project span{
    background-color: var(--destaque-inverso);
    border-radius: 10px 1px 1px 10px;
    grid-area: 1 / 1 / 6 / 2;
}

#projetos .project img{
    grid-area: 1 / 2 / 2 / -1;
    width: 95%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-self: left;
}

details{
    padding: 10px;
}

#projetos .project p,h3{
    padding-left: 10px;
} 

/*FOOTER - SITE*/
footer{
    display: flex;
    flex-flow: row wrap;
    background-color: var(--destaque);
}

#rodape{
    padding: 10px 5px 10px 5px;
    font-size: 1em;
    color: var(--texto-inverso);
    text-align: center;
}

#rodape a{
    text-decoration: none;
    color: var(--texto-inverso);
    font-weight: bold;
}