/*GLOBALS DECLARATIONS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}

body{
    height: 100vh;
    line-height: 1.5em;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

/*HEADER SITE*/

header{
    background-color: var(--destaque);
    position: fixed;
    width: 100%;
}

header > h1{
    text-align: center;
}

header > a{
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

header > nav#menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav#menu > ul{
    display: flex;

    list-style: none;
    padding-right: 10px;
}
nav#menu ul > li{
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    
    cursor: pointer;
}

nav#menu ul > li:hover{
    background-color: var(--destaque-inverso);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
    transition-duration: 0.5s;
}
nav#menu ul li > span:hover{color: var(--destaque);}


/*MAIN - SITE*/
main{
    padding-top: 40px;
}

main > section{
    display: grid;
    grid-template: 2fr / 1fr;
    grid-auto-rows: auto;
    padding: 20px;
    gap: 20px;
}

main section > article.card{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 20px;
 
    background-color: var(--fundo-card);
    border-radius: 10px;
}

main section article.card > div{
    flex: 1 0 100%;
    text-align: center;
}

main section article#perfil div >img{
    width: 220px;
    height: 220px;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--destaque);
}

main section article.card > h2{
    flex-basis: 100%;
    padding-bottom: 20px;
    color: var(--destaque);
}

main section article.card >p{
    text-align: justify;
}

main section article.card > ul{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}

main section article.card ul > li{
    padding: 5px;
}

main section article.card ul li > a{color: var(--destaque);}
main section article.card ul li > a:hover{
    color: var(--destaque-inverso);
    transition-duration: 0.3s;
}

#review > iframe{
    min-width: 410px;
    max-width: 600px;
    min-height: 231px;
    flex: 1;
}

#habilidades > div.skills{
    padding-bottom: 30px;
}

#habilidades div.skills > div.description-percent{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#habilidades div.description-percent > span.percent-value{
    color: var(--destaque);
}

#habilidades div.percent-bg{
    height: 10px;
    width: 100%;
    background-color: var(--fundo-principal);
    border-radius: 20px;
}
#habilidades div.percent-fill{
    height: 100%;
    background-color: var(--destaque-inverso);
    border-radius: 20px;
}

#habilidades #fill-html{width: 90%;}
#habilidades #fill-css{width: 80%;}
#habilidades #fill-js{width: 75%;}
#habilidades #fill-php{width: 60%;}
#habilidades #fill-talk{width: 100%;}
#habilidades #fill-workgroup{width: 90%;}
#habilidades #fill-adapt{width: 85%;}
#habilidades #fill-lead{width: 80%;}

#graduation .course{
    display: grid;
    grid-template: 1fr 1fr auto / 5px 1fr;
    margin: 10px 0px 10px 0px;
    text-align: left;

    background-color: var(--fundo-principal);
    border-radius: 10px;
}

#graduation .course:hover{
    grid-template-columns: 20px 1fr;
    transition-duration: 1s;
    --destaque-inverso: var(--destaque);
    cursor: pointer;
}

#graduation .course span{
    background-color: var(--destaque-inverso);
    border-radius: 5px 1px 1px 5px;
    grid-area: 1 / 1 / -1 / 2;
}

#graduation .course p,h3{padding-left: 15px;}
#graduation .course p strong{font-size: 0.9em;}
#graduation .course h3{color: var(--destaque-inverso);}

#projetos .course img{
    width: 90%;
    
}

/*FOOTER - SITE*/