*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}

body{
    height: 100vh;
    width: 100vw;
    line-height: 1.5em;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header{
    display: grid;
    grid-template: 1fr / 4fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    place-items: center center;

    background-color: var(--destaque);
}

header h1{
    
    text-align: center;
}

header > a{
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}
header > a:first-child{
    grid-column: 2 / auto; 
}

main{
    display: grid;
    grid-template: 2fr / 1fr;
    grid-auto-rows: auto;
}

main > img{
    grid-area: 1 / 1 / 2 / 2 ;

    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid var(--destaque);
    padding: 5px;

    justify-self: center;
}

main > h2{
    
}

main > p{
    text-align: justify;
}

footer{
    display: grid;
}