/*=======================================================================================================
GLOBAL / RESET
=======================================================================================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #0077ff;
    --destaque-inverso: #66bbff;
    --fundo-card: #ffffff;
}
body{
    width: 100%;
    height: 100vh;
    line-height: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--fundo-principal);
    color: var(--texto);
    transition: background-color 0.5s ease-in-out;
}

body.escuro{
    --fundo-principal: #222222;
    --texto: #e0e0e0;
    --texto-inverso: #333333;
    --destaque: #ff5522;
    --destaque-inverso: #a73917;
    --fundo-card: #444444;
    transition: background-color 0.5s ease-in-out;
}
/*=======================================================================================================
HEADER
=======================================================================================================*/
header{
    position: fixed;
    width: 100%;
    background-color: var(--destaque);
    z-index: 1000;
}

header h1{
    text-align: center;
}

header a{
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

nav#menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav#menu ul{
    display: flex;
    list-style: none;
    padding-right: 10px;
}

nav#menu ul li{
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

nav#menu ul li:hover{
    background-color: var(--destaque-inverso);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
}

nav#menu ul li span:hover{
    color: var(--destaque);
}

/*=======================================================================================================
MAIN / SECTIONS 
=======================================================================================================*/
main{
    padding: 40px 0px;
}

section{
    display: grid;
    grid-template-columns: 1fr 90vw 1fr;
    grid-auto-rows: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    box-sizing: content-box;
}

/*=======================================================================================================
CARD
=======================================================================================================*/
.card{
    grid-column: 2;

    display: flex;
    flex-flow: wrap;
    padding: 20px;
    background-color: var(--fundo-card);
    border-radius: 10px;
}

.card > h2{
    flex-basis: 100%;
    padding-bottom: 20px;
    color: var(--destaque);
}

.card > p{
    text-align: justify;
}

.card > div{
    flex: 1 0 100%;
    text-align: center;
}

/*=======================================================================================================
PERFIL
=======================================================================================================*/
#perfil{
    grid-column: 2;
}
#perfil img{
    width: 220px;
    height: 220px;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--destaque);
}

/*=======================================================================================================
Lista de Links - Card List
=======================================================================================================*/
.card-list{
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}

.card-list li{
    padding: 5px;
}

.card-list a{
    color: var(--destaque);
    transition: 0.3s;
}

.card-list a:hover{
    color: var(--destaque-inverso);
}

/*=======================================================================================================
VIDEO
=======================================================================================================*/
.video-container{
    position: relative;
    width: 100%;
    margin: auto;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*=======================================================================================================
HABILIDADES
=======================================================================================================*/
#habilidades .skills{
    padding-bottom: 30px;
}

#habilidades .description-percent{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#habilidades .percent-value{
    color: var(--destaque);
}

#habilidades .percent-bg{
    height: 10px;
    width: 100%;
    background-color: var(--fundo-principal);
    border-radius: 20px;
}

#habilidades .percent-fill{
    height: 100%;
    background-color: var(--destaque-inverso);
    border-radius: 20px;
}

/*=======================================================================================================
Percentuais
=======================================================================================================*/
#fill-html{width: 90%;}
#fill-css{width: 80%;}
#fill-js{width: 75%;}
#fill-php{width: 60%;}
#fill-talk{width: 100%;}
#fill-workgroup{width: 90%;}
#fill-adapt{width: 85%;}
#fill-lead{width: 80%;}

/*=======================================================================================================
ITEMS (Formação / Projetos)
=======================================================================================================*/
.item{
    display: grid;
    margin: 10px 0px;
    background-color: var(--fundo-principal);
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.item span{
    background-color: var(--destaque-inverso);
    grid-row: 1/-1;
}

/*=======================================================================================================
Formação
=======================================================================================================*/
#graduation .course{
    grid-template: 1fr 1fr auto / 5px 1fr;
    text-align: left;
}

#graduation .course:hover{
    grid-template-columns: 20px 1fr;
    --destaque-inverso: var(--destaque);
    cursor: pointer;
}

#graduation .item span{
    grid-area: 1 / 1 / -1 / 2;
    border-radius: 5px 1px 1px 5px;
}

#graduation .course h3{
    padding-left: 15px;
    color: var(--destaque-inverso);
}

#graduation .course p{
    padding-left: 15px;
}
#graduation .course p strong{
    font-size: 0.9em;
}

/*=======================================================================================================
Projetos
=======================================================================================================*/
#projetos .project{
    display: grid;
    grid-template: 1fr auto auto auto / 7px 1fr;   
    margin: 10px 0px;
    background-color: var(--fundo-principal);
    border-radius: 15px;
    text-align: left;
    transition: 0.5s ease-in-out;
}

#projetos .project:hover{
    grid-template-columns: 20px 1fr;
    --destaque-inverso: var(--destaque);
    cursor: pointer;
}

#projetos .project span{
    grid-area: 1 / 1 / 6 / 2;
    background-color: var(--destaque-inverso);
    border-radius: 10px 1px 1px 10px;
}

#projetos .project img{
    grid-area: 1 / 2 / 2 / -1;
    width: 95%;
    margin: 10px 0px 10px 10px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 16/9;
}

#projetos .project p,h3{
    padding-left: 10px;
} 

details{
    padding: 10px;
}

/*=======================================================================================================
FOOTER
=======================================================================================================*/
footer{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-color: var(--destaque);
}

#rodape{
    padding: 10px 5px 10px 5px;
    font-size: 1em;
    color: var(--texto-inverso);
    text-align: center;
}

#rodape a{
    color: var(--texto-inverso);
    font-weight: bold;
    text-decoration: none;
}